@page
@model DeliveryCart_Customer.Pages.DeliveryDrivers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Driver Details</h1>

<div>
    <h4>Driver Information</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.DeliveryDriver.deliveryDriverName)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.DeliveryDriver.deliveryDriverName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.DeliveryDriver.deliveryDriverPhoneNumber)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.DeliveryDriver.deliveryDriverPhoneNumber)
        </dd>
        @* <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryDriver.orderID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeliveryDriver.orderID)
        </dd> *@
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.DeliveryDriver?.deliveryDriverID">Edit this Driver?</a> |
    <a asp-page="./Index">Back to Driver list</a>
</div>
