@page
@model DeliveryCart_Customer.Pages.DeliveryDrivers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryDriver[0].deliveryDriverName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryDriver[0].deliveryDriverPhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryDriver[0].orderID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DeliveryDriver) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.deliveryDriverName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.deliveryDriverPhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.orderID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.deliveryDriverID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.deliveryDriverID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.deliveryDriverID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
