@page
@model DeliveryCart_Customer.Pages.Customers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Customer Details</h1>

<div>
    <h4>Customer Information</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Customer.customerName)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Customer.customerName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Customer.customerEmail)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Customer.customerEmail)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Customer.customerAddress)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Customer.customerAddress)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Customer.customerPhoneNumber)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Customer.customerPhoneNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Customer?.customerID">Edit this customer?</a> |
    <a asp-page="./Index">Back to list of customers</a>
</div>
