@page
@model DeliveryCart_Customer.Pages.Customers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Customer Index</h1>

<p>
    <a asp-page="Create">Create New Customer</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].customerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].customerEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].customerAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].customerPhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Customer) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.customerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.customerEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.customerAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.customerPhoneNumber)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.customerID">Edit customer</a> |
                <a asp-page="./Details" asp-route-id="@item.customerID">Customer details</a> |
                <a asp-page="./Delete" asp-route-id="@item.customerID">Delete customer</a>
            </td>
        </tr>
}
    </tbody>
</table>
